# ------------------------------------
# Archivos de Compilación de CMake
# ------------------------------------
# Ignora toda la carpeta 'build' donde se genera el ejecutable
build/

#Ignora el ejecutable en la carpeta principal :p
UchronyGame_Executable

.vscode/
.vs/

# Ignora todos los archivos de caché de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Ignora los Makefiles generados (la carpeta build/ ya hace esto, pero es una buena práctica)
Makefile

# Ignora archivos de Depuración
*.o
*.obj
*.exe
*.out
*.dylib
*.so